*.swp
*.suo
obj/
bin/
create-plgx.bat
/#portable/
*.cer
*.pvk
*.csproj.user
/KeePassHttp/KeePassHttp.dll
.vs/
/packages/
/KeePassNatMsg/lib/KeePass.exe
build/
.idea/
*.DotSettings.user
*.user
test-runner/
test-results.xml
artifacts/
e2e-artifacts/
KeePassNatMsg.plgx
*.log
