{"name": "org.keepassxc.keepassxc_browser", "description": "KeePassXC-Browser native messaging host (KeePassNatMsg)", "type": "stdio", "path": "C:\\Users\\YOUR_USERNAME\\AppData\\Local\\KeePassNatMsg\\keepassnatmsg-proxy.exe", "allowed_origins": ["chrome-extension://usuarokccmpfpckckkfcdobhdaiglfik/", "chrome-extension://obcddimikignkfpophjabdkdggkodnnh/"]}